<div class="index__heading__more arrow__icon">
    <a class="index__heading__more--text" href="{{button_link}}">{{button_label}}<div class="index__heading__more--arrow ">{% render 'icon-arrow-long' %}</div></a>
</div>