<div class="contact-us-info-block">
    <h2 class="contact-us-info-block__heading {% if add_background %}contact-us-info-block__heading--inverted{% endif %}">
        {{ heading }}
    </h2>
    <p class="contact-us-info-block__text {% if add_background %}contact-us-info-block__text--inverted{% endif %}">
    {{ subheading }}
    </p>
</div>