$grid_breakpoint_xs_end: 575.98px;
$grid_breakpoint_sm_start: 576px;
$grid_breakpoint_sm_end: 767.98px;
$grid_breakpoint_md_start: 768px;
$grid_breakpoint_md_end: 991.98px;
$grid_breakpoint_lg_start: 992px;
$grid_breakpoint_lg_end: 1199.98px;
$grid_breakpoint_xl_start: 1200px;
$grid_breakpoint_xl_end: 1399.98px;
$grid_breakpoint_xxl_start: 1400px;

// colors

$color_primary: #1A1A1A;
$color_dark: #808184;
$color_accent: #C1A050;
$color_light: #FFFFFF;

// gutters

$section_gutter: 100px;
$section_gutter_sm: 30px;