button,
a {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.btn {
    @include button-base;
    @include button-unselected;

    &.btn--primary {
        @include button-selected;
    }

    &.btn--primary-outline {
        @include button-selected(outline);
    }

    &.btn--rounded {
        @include border-radius-is-circle(12px);
    }

    &.btn--square-sm {
        @include button-square-sm;
    }

    &.btn--square-xs {
        @include button-square-xs;
    }

    &.btn--small {
        @include button-sm;
    }

    &.btn--large {
        @include button-lg;
    }

    &.btn--full {
        width: 100%;
    }

    &.btn--link {
        @include button-link;
    }

    // &.btn--facebook {
    // 	&:hover {
    // 		@include button-facebook-hover(reveal);
    // 	}
    // }

    // &.btn--twitter {
    // 	&:hover {
    // 		@include button-twitter-hover(reveal);
    // 	}
    // }

}