
@mixin add_gutter(){
    margin-top: $section_gutter;
    margin-bottom: $section_gutter;

    @include media-breakpoint-down(md) {
        margin-top: $section_gutter_sm;
        margin-bottom: $section_gutter_sm;
    }
}