@mixin button($bg_color,
    $bg_color_hover,
    $border_color_hover,
    // $shadow_color_hover,
    $bg_color_active,
    $border_color_active,
    $text_color,
    $text_color_hover,
    $style: default) {

  @if $style == "default" {
    border-color: $bg_color;
    background-color: $bg_color;
    color: $text_color;
  } @else if $style == "outline" {
    border: 1px solid $bg_color;
    background-color: transparent;
    color: $bg_color;
    $bg_color_hover: $bg_color;
  }

  &:not(.disabled):not([disabled]) {
    &:hover,
    &:focus {
      opacity: 1;
      border-color: $border_color_hover;
      background-color: $bg_color_hover;
      color: $text_color_hover;
    }

    &:active {
      border-color: $border_color_active;
      background-color: $bg_color_active;
      color: $text_color_hover;
      box-shadow: none;
    }
  }
}