.contact-us {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
    @include add_gutter();

    & .contact-us__inner {
        position: relative;
        overflow: hidden;
    }

    & .contact-us__info {
        display: flex;
        margin-top: 50px;

        & svg {
            width: 25px;
        }
    }

    & .contact-us__content {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        border-radius: 9px;
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-down(lg) {
            flex-direction: column-reverse !important;
        }

        @include media-breakpoint-up(lg) {
            align-items: center;
        }

        &.contact-us__content--right {
            @include media-breakpoint-up(xl) {
                background-position: right 179px top 0;
            }

            flex-direction: row-reverse;
        }

        @include media-breakpoint-between(md, lg) {
            align-items: center;
        }

    }

    & .contact-us__text {
        flex: 3;
        padding: 0 50px;

        @include media-breakpoint-down(lg) {
            margin: 30px 0 50px;
            padding: 0;
        }
    }

    & .contact-us__heading {
        text-transform: capitalize;
        font-family: 'KudryashevHeadlineSansW01';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 50px;
        color: #FFFFFF;
        letter-spacing: normal;
        width: 80%;

        @include media-breakpoint-down(md) {
            font-size: 40px !important;
            line-height: 37px;
        }

        &.contact-us__heading--no-background {
            color: #1A1A1A;
        }
    }

    & .contact-us__subheading {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;

        &.contact-us__subheading--no-background {
            color: #1A1A1A;
        }

        @include media-breakpoint-down(md) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    & .contact-us__image {
        display: flex;
        position: absolute;
        left: 150px;
        right: 0;
        min-height: 300px;
        height: 100%;
        z-index: 0;
        padding: 0 50px;

        & figure {
            border-radius: 9px;
        }

        &.contact-us__image--right {
            left: 0;
            right: 150px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
            right: 0;
            left: 0;
        }

        & .img,
        >div {
            min-height: 300px;
            height: 100%;
            width: 100%;
        }

        &.contact-us__image--mobile-hidden {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &.contact-us__image--mobile {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    & .contact-us__image:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    & .svg-placeholder {
        border-radius: unset;
        display: block;
        background: #696969;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        left: 150px;
        right: 0;

        &.contact-us__placeholder--right {
            left: 0;
            right: 150px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0;
            right: 0;
            left: 0;
        }
    }

    & .svg-placeholder svg {
        display: block;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-down(lg) {
        & .svg-placeholder svg {
            height: 100%;
        }
    }
}