{% assign limit_articles_by = 5 %}
{% paginate blog.articles by limit_articles_by %}

  <main class="page-wrapper">
    <div class="blog-wrapper">
      {% for article in blog.articles %}
        {% if forloop.first or forloop.index == limit_articles_by%}
          {% if forloop.index == limit_articles_by%}
            {% render 'blog-article' with article: article, different_card_layout:true, last_card:true%}
            {%else %}
            {% render 'blog-article' with article: article, different_card_layout:true%}
          {% endif%}
        {% else %}
          {% render 'blog-article' with article: article%}
        {% endif%}
      {% else %}
        <span class="empty">{{ 'blogs.blog.empty' | t }}</span>
      {% endfor %}
    </div>

    {% if paginate.previous or paginate.next %}
      {% render "pagination", paginate: paginate, width: "full-width" %}
    {% endif %}

  </main>

{% endpaginate %}