/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/
@media (min-width: 768px) {
  .lubass {
    font-size: 14px;
  }
}

.button--black {
  background: #1A1A1A;
  border-radius: 12px;
  color: #E7E7E7;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .button--black {
    width: 100%;
  }
}
.button--black:hover {
  background: #585757;
  color: #E7E7E7;
}

.section__heading {
  font-size: 40px !important;
  line-height: 48px;
  font-family: "KudryashevHeadlineSansW01";
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px;
  margin: 10px 20px;
  padding: 10px;
  font-feature-settings: "salt" on, "liga" off;
}
.section__heading--gold {
  color: #C1A050;
}
.section__heading--no-margin {
  padding: 0;
  margin: 0;
}

/*

IMAGE WITH TEXT SECTION

*/
@media (max-width: 575.98px) {
  .image-with-text--content p {
    padding-right: 0 !important;
  }
}