@mixin button-square-sm {
	@include button-base-square;
	width: 40px;
	height: 40px;
	font-size: 14px;
	line-height: 20px;
    @include ellipsis;
	@include border-radius-is-circle(2.5px);
	box-shadow: 0px 0px 4.3473px rgba(0, 0, 0, 0.15);

	@include button(
		$color_light,
       	$color_accent,
		var(--primary-button-border-color-hover),
		var(--primary-button-border-color-hover),
		var(--primary-button-background-color-hover),
		var(--primary-button-border-color-hover),
		$color_primary,
		$color_light,
		default
	);
}