@mixin button-square-xs {
	@include button-base-square;
	width: 30px;
	height: 30px;
	font-size: 12px;
	line-height: 15px;
	box-shadow: 0px 4px 36px rgba(193, 160, 80, 0.25);
	@include border-radius-is-circle(0);
    @include ellipsis;

	@include button(
		rgba(255,255,255,.5),
       	$color_light,
		var(--primary-button-border-color-hover),
		var(--primary-button-border-color-hover),
		var(--primary-button-background-color-hover),
		var(--primary-button-border-color-hover),
		$color_primary,
		red,
		default
	);
}