.text {
    &.text--lg {
        font-size: var(--body-font-size-lg);
    }

    &.text--sm {
        font-size: var(--body-font-size-sm);
    }

    &.text--primary {
        color: $color_primary;
    }

    &.text--ellipsis {
        @include ellipsis;
    }

    &.text--strike {
        text-decoration: line-through !important;
    }

    &.text--capitalize {
        text-transform: capitalize;
    }

    &.text--uppercase {
        text-transform: uppercase;
    }

    &.text--italic {
        font-style: italic;
    }

    &.text--center {
        text-align: center;
    }
}