.button {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    &.button--black {
        background: #1A1A1A;
        border-radius: 12px;
        color: #E7E7E7;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        @include media-breakpoint-between(xs, sm) {
            width: 70%;
        }

        &:hover {
            background: #585757;
            color: #E7E7E7;
        }

    }

    &.button--full {
        width: 100%;
        text-align: center;
        margin: 12px;
    }

    &.button--gold {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        background: #C1A050;
        border-radius: 12px;
        color: #FFFFFF;

        &:hover {
            opacity: .7;
        }
    }
}